@font-face {
    font-family: norse;
    src: url(../sign-up-form/Font/Norse-Bold\ .otf);
  }

body {
    height:100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.image {
    height: 100vh;
    width: 30vw;
    background-image: url(../sign-up-form/images/photo-1662384874601-1f6b8b2fab9d.avif);
    color: white;
}

.image img {
    width: 9rem;
}

.form {
    height: 100vh;
    width: 70vw;
}

div#logo {
    display: flex;
    justify-content: center;
}

#logo {
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 25vh;
}

#logo p {
    font-family: norse;
    font-size: 70px;
}