body {
    height:100vh;
    width: 100vw;
}

.container {
    display: flex;
}

.image {
    height: 100vh;
    width: 30vw;
    background-image: url(../sign-up-form/images/photo-1662384874601-1f6b8b2fab9d.avif);
}

.form {
    height: 100vh;
    width: 70vw;
}

img {
    max-height: 100vh;
}